name: CI / CD Pipeline to deploy on AWS
on:
  push:
    branches: [ "main" ]
jobs:
  Test-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Validate repository
        uses: actions/checkout@v4
  build-and-push:
     runs-on: ubuntu-latest
     needs: Test-repo
     steps:
      - uses: actions/checkout@v4
      - name: Login to docker
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build docker image
        run: >
          docker build --no-cache --file Dockerfile --tag ${{secrets.DOCKERHUB_USERNAME}}/visitor-feedback-app:latest .
      - name: Push to docker hub
        run: >
          docker push ${{secrets.DOCKERHUB_USERNAME}}/visitor-feedback-app:latest
  trivy-scan:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:   
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{secrets.DOCKERHUB_USERNAME}}/visitor-feedback-app:latest
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
        env:
          TRIVY_CLEAR_CACHE: "true"
      
  deploy:
    runs-on: ubuntu-latest
    needs: trivy-scan
    steps:
      - name: Deploy to AWS on EC2 via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{secrets.DOCKERHUB_USERNAME}}/visitor-feedback-app:latest
            docker stop my-app || true
            docker rm my-app || true
            docker run -d --name my-app --restart=always -p 4000:3000 ${{ secrets.DOCKERHUB_USERNAME }}/visitor-feedback-app:latest
            docker ps
